$main-backgound-color: #ffffff;
$sec-background-color: #f5f4fa;
$accent-color: #2196f3;
$main-color: #2f303a;
$dark-main-color: #212121;
$dark-sec-color: #717171;
$dark-add-color: rgba(255, 255, 255, 0.6);
