.nav-links {
  display: flex;

  .nav-item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-link {
  display: block;
  position: relative;

  color: $dark-main-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding: 32px 0px;

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.active-link {
  color: $accent-color;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
    color: $accent-color;
  }
}
/*


.open-new::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color:$accent-color;
  color:$accent-color;

  transform: scaleX(0;
  transition: transform 250ms linear;
}

.open-new:hover::after {
  transform: scaleX(1;
}
*/
