.contact-links {
  display: block;
  margin-left: auto;

  @media screen and (min-width: $desktop-width) {
    display: flex;
  }
}

.logo-adress {
  @media screen and (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.tel-link {
  .envelope {
    width: 20px;
    height: 17px;
    margin-right: 10px;
    fill: currentColor;
  }
}

.nav-contact {
  display: flex;
  align-items: center;
  padding: 5px 0px;

  color: $dark-sec-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms linear;

  .smartphone {
    width: 20px;
    height: 17px;
    margin-right: 10px;
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
