.is-hidden {
  opacity: 0;
  pointer-events: none;

  .modal {
    transform: scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  @media screen and (min-width: $tablet-width) {
    padding: 210px 160px;
  }

  z-index: 2;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  border-radius: 4px;
  margin: 90px 0;

  width: calc(100% - 30px);
  min-height: 590px;
  max-width: 450px;

  @media screen and (min-width: $tablet-width) {
    width: 450px;
    min-height: 590px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 530px;
    min-height: 580px;
    margin: 0;
  }

  background-color: $main-backgound-color;

  transition: transform 250ms linear;

  &-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;

  color: $dark-main-color;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &-icon {
    width: 30px;
    height: 30px;
    padding: 6px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    fill: currentColor;
  }
}
